<div data-refresh-list-target="list">
  <% @boardgames.each do |boardgame| %>
    <%= link_to boardgame_path(boardgame), class: 'text-decoration-none ' do %>
      <div class="card-pick mt-3 bg-light">
        <%= image_tag boardgame.thumbnail, alt: "default" %>
        <div class="card-pick-info">
          <h5><%= boardgame.name.first(39) %></h5>
          <p><%= boardgame.category %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
