<div id="layoutSidenav">
  <div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
        <div class="nav">
          <div class="sb-sidenav-menu-heading"><hr></div>
          <a class="nav-link" href="index.html">
            <div class="sb-nav-link-icon"><i class="fa-solid fa-book"></i></div>
            Bookings
          </a>
          <div class="sb-sidenav-menu-heading"><hr></div>
          <%= link_to [current_user], data: { bsToggle: "collapse", bsTarget: "#collapseLayouts"}, class: "nav-link collapsed" do %>
            <i class="fa-solid fa-hand-holding-dollar sb-nav-link-icon"></i>
            <p>Offers</p>
          <% end %>
        </div>
      </div>
    </nav>
  </div>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid px-4">
        <h1 class="mt-4">Dashboard</h1>
        <div class="card mb-4">
          <div class="card-header">
            <h4><i class="fas fa-table me-1"></i>Bookings</h4>
          </div>
          <%= render 'bookings_table', offers: @offers%>
        </div>
        <div class="card mb-4">
          <div class="card-header d-flex justify-content-between">
            <h4>
              <i class="fas fa-table me-1"></i>
              Offers
            </h4>
            <%= link_to "Create Offer", new_offer_path, class: "btn btn-secondary" %>
          </div>
          <%= render 'offers_table', offers: @offers%>
        </div>
      </main>
      <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
          <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Boardgame Mania 2024</div>
          </div>
        </div>
      </footer>
    </div>
  </div>
