<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.anythinklibraries.org/sites/default/files/styles/full/public/event/field_event_image/board_game_mania_0.jpg?itok=bAejamLe);">
  <div class="container">
    <h1>Board-Game mania brings <strong>board games </strong> to <strong>creative people</strong>!</h1>
    <p>Join and play with the board gamers of the world!.</p>
    <%= link_to "Search now!", boardgames_path, id: "home-btn", class: "btn"%>
    <div id="carouselExample" class="carousel slide board" >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://cf.geekdo-images.com/sZYp_3BTDGjh2unaZfZmuA__imagepagezoom/img/tzd7s5trxMU7W01HxXd4PPSwEfM=/fit-in/1200x900/filters:no_upscale():strip_icc()/pic2437871.jpg"
      class="d-block w-5" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://cf.geekdo-images.com/x3zxjr-Vw5iU4yDPg70Jgw__original/img/FpyxH41Y6_ROoePAilPNEhXnzO8=/0x0/filters:format(jpeg)/pic3490053.jpg"
      class="d-block w-5" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://cf.geekdo-images.com/-Qer2BBPG7qGGDu6KcVDIw__imagepage/img/qZybAu8uJ9_sZlU2A65DIF6Y2Zw=/fit-in/900x600/filters:no_upscale():strip_icc()/pic2452831.png"
      class="d-block w-5" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
