/*Card pick*/
.card-pick {
  /*fixed*/
  display: flex;
  flex-direction: column;
  /*customizable*/
  // height: 250px;
  padding:5px;
  width: 100%;
  height: 320px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
  // position: relative;
}
.card-pick img {
  /*fixed*/
  width: 100%;
  //min-height: 100px;
  object-fit: cover;
  min-height: 220px;
  max-height: 220px;
  /*customizable*/
  object-position: 70% 30%;
  border-radius: 4px 4px 0 0;
}
.card-pick-info {
  /*customizable*/
  padding: 1rem 0rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.card-pick-info h5 {
  /*customizable*/
  margin: 0;
  font-size:1.2rem;
  color: black;
}
.card-pick-info p {
  /*customizable*/
  margin: 0;
  font-size:16px;
  color: black;
}
.card-icons {
  color: #2F2F2F;
  font-size:.7rem;
  // position:absolute;
  // bottom: 5;
  // left: 5;
}
.card-pick:hover {
  /*customizable*/
  transition: 0.2s ease-out;
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
