
body {
  overflow-x: hidden; /* Prevent horizontal scrollbar */
}

body:has(.banner) {
  overflow: hidden;
}

.banner {
  background-size: cover;
  background-position: center;
  align-content: center;
  height: 100vh;
}

.board {
  background-size: cover;
  background-position: center;
  width: 50px;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #670BFF;
  transition: background 0.3s ease;
}

.carousel-home {
  height: calc(100vh - 154px);
  width: 100%;
  overflow: hidden;
  // margin-top: 0px;
  // object-fit: cover;
}

.carousel-home-item.active {
  // padding-top: 50;
}

.get-started-btn {
  position: absolute;
  top: 74%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-intro {
  font-size: 37px;
  position: absolute;
  top: 49%;
  left: 63%;
  width: 100%;
  transform: translate(-50%, -50%);
}
