.offer-link-parent {
  position: relative;
}

.offer-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color:black;
  margin: 15px;
}

// .offer-link-parent:nth-child(odd){
//   color:black;
//   background-color: #fafcf0;
//   z-index: -1;
// }

.booking-box {
  background-color: $primary;
}
