.navbar {
  position: sticky !important;
  top: 0;
  height: 60;
  z-index: 999;
}

.navbar-lewagon {
  justify-content: space-between;
  box-shadow: 0 1px 5px #00000016;
  background-color: $primary;
  color: $light-gray;
}

.navbar-lewagon a {
  color: $light-gray;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
