<div class="container">
  <h1>All games</h1>
  <div class="cards">
    <%@boardgames.each do |boardgame| %>
      <%= link_to boardgame_path(boardgame), class: 'text-decoration-none' do %>
        <div class="card-pick mt-3">
          <%= image_tag boardgame.thumbnail, alt: "default"%>
          <div class="card-pick-info">
            <h3><%=boardgame.name %></h3>
            <p><%= boardgame.category %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
