<div class="container" data-controller="refresh-list">
  <div class="row align-items-center mt-3">
    <div class="col-lg-11">
      <%= form_with url: boardgames_path, method: :get, html: { data: { refresh_list_target: 'form' }, class: "form-group" } do |f| %>
        <%= f.text_field :query,
          class: "form-control",
          placeholder: 'Type something here...',
          value: params[:query],
          data: {
            refresh_list_target: 'searchInput',
            action: "keyup->refresh-list#update"
          } 
          %>
      <% end %>
    </div>
    <div class="col-lg-1">
      <%= link_to boardgames_path, class: "btn btn-warning w-100" do %>
        <i class="fa-solid fa-eraser text-secondary"></i>
      <% end %>
    </div>
  </div>
  <div data-refresh-list-target="list" class="cards mt-3">
    <%= render 'list', boardgames: @boardgames %>
  </div>
</div>
